<% extend('../layout/dashboardLayout') %>

<div class="row justify-content-center">
  <div class="col-md-6">
    

    

    <div class="btn-group w-100">
      <a href="/dashboard/archives?status=public" class="btn btn-outline-secondary w-100 rounded-0 <%if(status == 'public') { %>active<% } %>">已發佈</a>
      <a href="/dashboard/archives?status=draft" class="btn btn-outline-secondary w-100 rounded-0 <%if(status == 'draft') { %>active<% } %>">草稿</a>
      <a href="/dashboard/article/creat" class="btn btn-primary">新增文章</a>
    </div>

    <% for (let i in articles) { %>
      <div class="card my-3">
        <h4 class="card-header">
          <%- articles[i].title %>
        </h4>
        <div class="card-body">
          <%- articles[i].content.slice(0,150) %> ....
          <div>
            <span class="fa fa-clock-o"></span> 
            <%- moment(articles[i].updateTime * 1000).format('YYYY/MM/DD') %>
            ,
            <span class="fa fa-folder-open-o"></span>
            <span>
              
            <% for (let item in categories) { %>
              <% if(item === articles[i].category) { %> 
                <%= categories[item].name %>
              <% } %>
            <% } %>
              
            </span>
          </div>
        </div>
        <div class="card-footer p-0 btn-group">
          <a href="#" class="btn btn-outline-danger rounded-0 deletePost" data-id="<%- articles[i].id %>" data-title="<%- articles[i].title %>">刪除</a>
          <a href="/dashboard/article/<%- articles[i].id %>" class="btn btn-outline-secondary w-100 rounded-0">編輯</a>
          
          <a href="/post/<%- articles[i].id %>" target="_blank" class="btn btn-outline-secondary w-100 rounded-0">預覽</a>
          
        </div>
      </div>
    <% } %>
  </div>
</div>




<script>
  $(document).ready(function(){
    $('.deletePost').on('click',(e)=>{
      e.preventDefault();
      let id = e.target.dataset.id;
      let title = e.target.dataset.title;
      if (confirm('是否要刪除 '+ title + "這一篇文章")){
        $.ajax({
          url:'/dashboard/article/delete/'+ id,
          method:'POST'
        }).done(function(res){
          window.location = '/dashboard/archives';
        });
      }
    })
  });
</script>